{% extends 'admin/panel.html.twig' %}

{% block title %}Panel d'administration - Utilisateurs{% endblock %}

{% block body %}
    <div id="content">
        <nav class="navbar navbar-expand bg-white shadow mb-4 topbar static-top navbar-light">
            <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                <form class="d-none d-sm-inline-block me-auto ms-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ..."><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                </form>
            </div>
        </nav>
        <div class="container-fluid">
            <h3 class="text-dark mb-4">Utilisateurs</h3>
            <div class="card shadow">
                <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">Liste des utilisateurs</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                        <table class="table my-0" id="dataTable">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom d'utilisateur</th>
                                <th>Téléphone</th>
                                <th>Mail</th>
                                <th>Editer</th>
                                <th>Supprimer</th>
                            </tr>
                            </thead>
                            <tbody>
                               {% for user in users %}
                                    <tr>
                                        <td>{{ user.id }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.phone }}</td>
                                        <td>{{ user.email }}</td>
                                        <td>
                                            <button type="button" class="btn btn-warning" onclick="edit('{{ user.id }}', '{{ user.username }}', '{{ user.password }}', '{{ user.phone }}', '{{ user.email }}')" data-toggle="modal" data-target="#myModal">
                                                Modifier
                                            </button>
                                        </td>
                                        <td><a href="{{ path('app_user_delete', {'id': user.id}) }}" class="btn btn-danger">Supprimer</a></td>
                                    </tr>
                                {% endfor %}
                            <tfoot>
                            <tr>
                                <td><strong>Id</strong></td>
                                <td><strong>Nom d'utilisateur</strong></td>
                                <td><strong>Téléphone</strong></td>
                                <td><strong>Mail</strong></td>
                                <td><strong>Editer</strong></td>
                                <td><strong>Supprimmer</strong></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card shadow">
                {{ form_start(form) }}
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Ajouter un utilisateur</p>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            {{ form_row(form.username) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.password) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.email) }}
                        </div>
                        <div class="form-group">
                            {{ form_row(form.phone) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.submit) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
            </div>
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                       <form method="post" id="form_update">
                        <div class="modal-header">
                            <p class="text-primary m-0 fw-bold">Editer un utilisateur</p>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="user_update_id">Id</label>
                                <input type="text" class="form-control" id="user_update_id" name="user_update[id]" readonly>
                            </div>
                            <div class="form-group">
                                <label for="user_update_username">Nom d'utilisateur</label>
                                <input type="text" class="form-control" id="user_update_username" name="user_update[username]">
                            </div>
                            <div class="form-group">
                                <label for="user_update_password">Mot de passe</label>
                                <input type="password" class="form-control" id="user_update_password" name="user_update[password]">
                            </div>
                            <div class="form-group">
                                <label for="user_update_email">Email</label>
                                <input type="email" class="form-control" id="user_update_email" name="user_update[email]">
                            </div>
                            <div class="form-group">
                                <label for="user_update_phone">Téléphone</label>
                                <input type="text" class="form-control" id="user_update_phone" name="user_update[phone]">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Editer</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

{% endblock %}
{% block script %}
   <script defer>
    function edit(id, username, password, phone, email){
        var url = '{{ path('app_user_update', {'id': '__id__'}) }}';
        url = url.replace('__id__', id);
        document.getElementById("form_update").setAttribute("action", url);
        document.getElementById("user_update_id").value = id;
        document.getElementById("user_update_username").value = username;
        document.getElementById("user_update_password").value = password;
        document.getElementById("user_update_email").value = email;
        document.getElementById("user_update_phone").value = phone;
    }
</script>
{% endblock %}